/*
  Possible Animations:
  enter
  exit
  appear Must set transitionAppear={true} on animation component
*/

/* order-enter gets added then order-enter-active gets added as a class
   transition takes it from the start state to the end state */

.order-enter
	/*background red*/
	transform: translateX(-120%)   /* Slide in from the left */
	transition 0.5s
	padding 0 !important
	&.order-enter-active
		/* background yellow */
		transform: translateX(0%)
		padding 2rem 0 !important

.order-exit
	transform: translateX(0%)
	transition 0.5s
	&.order-exit-active
		transform: translateX(120%)
		padding 0

.count-enter
	transform: translateY(100%)
	transition 0.5s
	&.count-enter-active
		transform: translateY(0%)

.count-exit
	transform: translateY(0%)
	transition 0.5s
	position absolute
	left 0
	bottom 0
	&.count-exit-active
		transform: translateY(-100%)


